.contacts {
    display: flex;
    margin-left: auto;
}
.contacts li:last-child {
    margin-left: 30px;
}
.mail,
.mobile {
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-weight: 500;
    color: var(--secondary-font-color);
    transition-property: color;
    transition-timing-function: var(--cubik);
    transition-duration: var(--trans-duration);
}
.svg-icon {
    transition-property: fill;
    transition-timing-function: var(--cubik);
    transition-duration: var(--trans-duration);
}
