.group-social {
    margin-top: 16px;
    display: flex;
    border-radius: 50%;
    padding-left: 32px;
    padding-right: 32px;
    justify-content: space-between;
}
.social-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition-property: var(--background-color);
    transition-duration: var(--trans-duration);
    transition-timing-function: var(--cubik);
}
.social-link a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
    height: 100%;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.social-link svg {
    fill: #afb1b8;
    transition-property: fill;
    transition-duration: var(--trans-duration);
}
.social-link:hover {
    background-color: var(--accent-color);
}
.social-link:hover svg {
    fill: #ffffff;
}
.icon:focus {
    background-color: var(--accent-color);
}
.icon:focus svg {
    fill: #ffffff;
}
